<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #referenceTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="referenceType.id">{{l("EditReferenceType")}}</span>
                        <span *ngIf="!referenceType.id">{{l("CreateNewReferenceType")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">            
                    <div class="form-group">
                        <label for="ReferenceType_Group">{{l("ReferenceTypeGroup")}}</label>
                        <input type="text" id="ReferenceType_Group" class="form-control" [(ngModel)]="referenceType.referenceTypeGroup" name="ReferenceType_Group"  maxlength="20"/>
                    </div>	                    
                    <div class="form-group">
                        <label for="ReferenceType_Code">{{l("ReferenceTypeCode")}}</label>
                        <input type="text" id="ReferenceType_Code" class="form-control" [(ngModel)]="referenceType.referenceTypeCode" name="ReferenceType_Code"  maxlength="20"/>
                    </div>
                    <div class="form-group">
                        <label for="ReferenceType_Name">{{l("Name")}} *</label>
                        <input type="text" id="ReferenceType_Name" class="form-control" [(ngModel)]="referenceType.name" name="Name"   minlength="1"  maxlength="50"  required/>
                    </div>			
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!referenceTypeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>