<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #productImageForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="productImage.id">{{l("EditProductImage")}}</span>
                        <span *ngIf="!productImage.id">{{l("CreateNewProductImage")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="ProductName">{{l("Product")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="ProductName" name="productName" [(ngModel)]="productName" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectProductModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setProductIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="productImage.productId" [(ngModel)]="productImage.productId" type="text"  hidden>
		 

								<div class="form-group">
									<label for="ProductImage_Description">{{l("Description")}}</label>
									<input type="text" id="ProductImage_Description" class="form-control" [(ngModel)]="productImage.description" name="Description"   minlength="0"  maxlength="500" />
								</div>
					
								<div class="form-group">
									<label for="ProductImage_Url">{{l("Url")}}</label>
									<input type="text" id="ProductImage_Url" class="form-control" [(ngModel)]="productImage.url" name="Url"   minlength="0"  maxlength="100" />
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductImage_IsMain" class="kt-checkbox">
										<input id="ProductImage_IsMain" type="checkbox" name="IsMain" [(ngModel)]="productImage.isMain"> 
										{{l("IsMain")}}
										<span></span>
									</label>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ProductImage_IsApproved" class="kt-checkbox">
										<input id="ProductImage_IsApproved" type="checkbox" name="IsApproved" [(ngModel)]="productImage.isApproved"> 
										{{l("IsApproved")}}
										<span></span>
									</label>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!productImageForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<productImageProductLookupTableModal #productImageProductLookupTableModal (modalSave)="getNewProductId()"></productImageProductLookupTableModal>
		 
</div>