<div [@routerTransition]>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
      <div [class]="containerClass">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("SysStatuses")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("SysStatusesHeaderInfo")}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Administration.SysStatuses.Create')" (click)="createSysStatus()" 
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewSysStatus")}}</button>
            </div>
        </div>
      </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getsysStatuses()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="kt-separator kt-separator--border-dashed"></div>
						     </div>


                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinCodeFilter">{{l("MinMax")}} {{l("Code")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinCodeFilter" [(ngModel)]="minCodeFilter" placeholder="{{l('MinValue')}}" name="minCodeFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxCodeFilter" placeholder="{{l('MaxValue')}}" name="maxCodeFilter" />
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="NameFilter">{{l("Name")}}</label>
									<input type="text" class="form-control" id="NameFilter" name="nameFilter" [(ngModel)]="nameFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="DescriptionFilter">{{l("Description")}}</label>
									<input type="text" class="form-control" id="DescriptionFilter" name="descriptionFilter" [(ngModel)]="descriptionFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="SysRefTenantIdFilter">({{l("SysRef")}}) {{l("TenantId")}}</label>
									<input type="text" class="form-control" id="SysRefTenantIdFilter" name="sysRefTenantIdFilter" [(ngModel)]="sysRefTenantIdFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getsysStatuses($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Administration.SysStatuses.Edit', 'Pages.Administration.SysStatuses.Delete')">{{l('Actions')}}</th>
                                    <!-- <th style="width: 150px" pSortableColumn="sysRefFk.tenantId">
                                        {{l('TenantId')}}
                                        <p-sortIcon field="sysRefTenantId"></p-sortIcon>
                                    </th> -->
                                    <th style="width: 150px" pSortableColumn="RefCode">
                                        {{l('Type')}}
                                        <p-sortIcon field="sysStatus.refCode"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="code">
                                        {{l('Code')}}
                                        <p-sortIcon field="sysStatus.code"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="name">
                                        {{l('Name')}}
                                        <p-sortIcon field="sysStatus.name"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="description">
                                        {{l('Description')}}
                                        <p-sortIcon field="sysStatus.description"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Administration.SysStatuses.Edit', 'Pages.Administration.SysStatuses.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;"
														(click)="viewSysStatusModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
													<a href="javascript:;" *ngIf="permission.isGranted('Pages.Administration.SysStatuses.Edit')"
														(click)="createOrEditSysStatusModal.show(record.sysStatus.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Administration.SysStatuses.Delete')"
														(click)="deleteSysStatus(record.sysStatus)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <!-- <td style="width:150px">
												<span class="ui-column-title"> {{l('TenantId')}}</span>
												{{record.sysRefTenantId}}
                                            </td> -->
                                    <td style="width:150px">
                                                <span class="ui-column-title"> {{l('Type')}}</span>
                                                {{record.sysStatus.refCode}}
                                            </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Code')}}</span>
											{{record.sysStatus.code}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Name')}}</span>
											{{record.sysStatus.name}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Description')}}</span>
											{{record.sysStatus.description}}
										</td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getsysStatuses($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditSysStatusModal #createOrEditSysStatusModal (modalSave)="getsysStatuses()"></createOrEditSysStatusModal>
    <viewSysStatusModal #viewSysStatusModal></viewSysStatusModal>
    
  </div>
</div>
